@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: bold;
  font-size: large;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form h1 {
  text-align: center;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: darkblue;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form h1 {
  text-align: center;
}

.register-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.register-form button:hover {
  background-color: darkgreen;
}
