@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: bold;
  font-size: large;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form h1 {
  text-align: center;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: darkblue;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-form h1 {
  text-align: center;
}

.register-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.register-form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.register-form button:hover {
  background-color: darkgreen;
}
.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: stretch;
}

@media (max-width: 600px) {
  .game-list {
    grid-template-columns: 1fr; /* Stack the cards on smaller screens */
  }
}

.game-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-card h3 {
  margin: 10px;
  font-size: 1.2em;
  color: #333;
}

.game-card p {
  padding: 0 10px 10px;
  font-size: 0.9em;
  color: #666;
  flex-grow: 1;
}
